footer {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(105, 126, 145);
  border: 0.1rem solid black;
}
.ubicacion {
  font-weight: bold;
  font-size: 150%;
}
.elementos_footer {
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  justify-self: center;
  justify-content: space-around;
}
.elementos_footer a {
  text-decoration: none;
  color: black;
}
