footer {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(105, 126, 145);
  border: 0.1rem solid black;
  .ubicacion {
    list-style: none;
    .estilo_ubicacion {
      font-size: larger;
      font-weight: bold;
    }
  }
}
