@mixin art {
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin: 5px;
  img {
    max-width: 60%;
    max-height: 60%;
    align-self: center;
  }
}
@media screen and (max-width: 740px) {
  * {
    max-width: 50vh;
  }
  .descripcion__sitio {
    text-align: center;
    font-size: 80%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    justify-content: center;
    a {
      width: 100%;
      border: 1px solid white;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-self: center;
      margin: 0;
    }
  }
  .titulo__seccion {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 5px;
    width: 100%;
    color: white;
    background-color: $colorUno;
    font-size: 120%;
  }
  .redesSociales {
    display: flex;
    font-size: 90%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    max-height: 100%;
    max-width: 100%;
    p {
      color: black;
    }
  }
  header div a img {
    max-height: 40%;
  }
  .linea2 {
    display: flex;
  }
  .articulos {
    @include art;
    background-color: $colorUno;
    max-width: 100%;
  }
  .articulos_niños {
    @include art;
    background-image: linear-gradient(
      to left,
      rgb(149, 240, 149),
      rgba(144, 206, 247, 0.637)
    );
    max-width: 100%;
  }
  .articulosDamas {
    @include art;
    background-image: linear-gradient(
      to left,
      rgb(250, 185, 87),
      rgb(212, 250, 108)
    );
    max-width: 100%;
  }
  .articulosHombre {
    @include art;
    background-image: linear-gradient(
      to left,
      rgb(36, 13, 12),
      rgb(104, 153, 243)
    );
    max-width: 100%;
  }
  .corto {
    border: solid;
  }
  .buzo {
    border: solid;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .logo img {
    max-width: 80%;
  }
  .buscado {
    display: flex;
    justify-content: center;
  }
  .buscado img {
    max-height: 50%;
  }
  .buscador {
    border-radius: 2rem;
    border-style: solid;
    border-color: rgba(75, 69, 69, 0.281);
    max-height: 50%;
    max-width: 40%;
  }
  .listabeneficios {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
  }
  .seccionesVenta {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 80%;
    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
  }
  .articulos {
    display: flex;
    flex-direction: column;
  }
  .articulos img {
    max-width: 60%;
    max-height: 60%;
  }

  section p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    align-self: center;
    align-items: center;
    align-content: center;
  }
  .barraLateral {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background: linear-gradient(0.25turn, #c0bab8, #f6faf4, #f3504a);
    border: 0.3rem solid black;
    margin: 2rem;
    padding: 0;
  }
  .barraLateral li {
    justify-content: center;
    font-size: 80%;
    padding: 0.5rem;
    align-self: center;
  }
  .barraLateral:hover {
    transform: scale(120%);
  }
  .linea2Encabezado {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  footer {
    padding: 5px;
    margin: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    background-image: linear-gradient(to left, $colorUno, white);
    border: 0.1rem solid black;
    grid-template-areas:
      "elementos ubicacion"
      "elementos2 ubicacion";
  }
  .elementos_footer {
    grid-area: elementos;
  }
  .elementos_footer2 {
    grid-area: elementos2;
  }
  .ubicacion {
    grid-area: ubicacion;
    .estilo_ubicacion {
      font-size: medium;
      font-weight: normal;
      margin: 5px;
    }
  }
  #grad {
    display: flex;
    flex-direction: column;
  }
  #grad2 {
    display: flex;
    flex-direction: column;
  }
  /* contacto*/
  .nav_contacto {
    display: flex;
    padding: 1rem;
    a {
      padding-left: 2rem;
      color: $colorUno;
    }
  }
  .formulario {
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 29, 29);
    justify-content: center;
    max-width: 100%;
    label {
      color: rgb(252, 250, 247);
    }
    legend {
      color: white;
      border: 0.2rem solid rgb(57, 150, 153);
      background-color: rgb(8, 8, 8);
      align-self: center;
      border-radius: 1rem;
      text-align: center;
    }
    div {
      color: rgb(236, 206, 165);
    }
  }
  /*tarjeta*/
  .nav_tarjeta a {
    font-size: 80%;
  }
  .beneficios {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    justify-content: space-between;
    background-color: $colorTarjeta;
    justify-content: center;
    margin: auto;

    img {
      display: none;
    }
    h1 {
      font-size: 20px;
      text-align: center;
    }
    ul {
      font-size: 80%;
    }
    button {
      align-self: center;
      margin: 20px;
      font-size: 70%;
      width: 50%;
    }
  }
  /*mediaDamas*/
  .headSecciones {
    display: none;
  }
  .niños {
    width: 100%;
  }
  .niñas {
    display: none;
  }
}
@media screen and(min-width:741px) and (max-width: 900px) {
  .articulos {
    display: grid;
    grid-template-columns: repeat(6 2fr);
  }
}
