.beneficios {
  display: grid;
  margin: auto;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border-color: black;
  background-color: $colorTarjeta;
  justify-content: center;

  img {
    justify-content: center;
    justify-self: center;
    margin: 1rem;
  }
  h1 {
    text-align: center;
  }
  ul {
    display: grid;
    grid-gap: 2rem;
    font-weight: bold;
  }

  button {
    width: 9rem;
    height: 2.5rem;
    background-color: rgb(192, 229, 240);
    font-size: large;
    border-radius: 2rem;
    justify-self: center;
    margin: 0;
  }
}
