@import "variables";
@import "head";
@import "footer";
@import "tarjeta";
@mixin articulos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  margin: 1rem;
}
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
@mixin transform {
  transform: scale(105%);
}
.descripcion__sitio {
  text-align: center;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.titulo__seccion {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  color: white;
  background-color: $colorUno;
  margin: auto;
  border: 0.3rem solid black;
  padding: 0.4rem;
  width: 30rem;
  height: 2rem;
  font-size: 200%;
}
.logo {
  text-align: center;
}
.buscado {
  display: flex;
  justify-content: center;
}
.buscador {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
  border-style: solid;
  border-color: rgba(75, 69, 69, 0.281);
}
.div_ingreso {
  display: flex;
  justify-content: end;
}
.ingreso {
  color: white;
  background-color: rgb(10, 9, 9);
  border-radius: 0.5rem;
  border-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.articulos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  margin: 1rem;
  background-image: linear-gradient(
    to left,
    rgb(248, 200, 224),
    rgb(248, 228, 190)
  );
  img {
    border: solid;
  }
}
.articulos_niños {
  @include articulos;
  background-image: linear-gradient(
    to left,
    rgb(149, 240, 149),
    rgba(144, 206, 247, 0.637)
  );
}
section p span {
  border: 1px solid black;
  background-color: rgb(205, 213, 219);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/*contacto*/
.nav_contacto {
  display: flex;
  justify-content: center;
  margin: 1rem;
  a {
    text-decoration: none;
    font-size: x-large;
    color: $colorUno;
    font-weight: bold;
  }
}
form {
  justify-content: center;
  text-align: center;
  display: flex;
}
.formulario {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 29, 29);
  justify-content: center;
  width: 30rem;
  label {
    color: white;
  }
  div {
    color: rgb(236, 206, 165);
  }
}
legend {
  color: white;
  border: 0.2rem solid rgb(57, 150, 153);
  background-color: rgb(8, 8, 8);
  align-self: center;
  border-radius: 1rem;
  text-align: center;
}
#estilo_articulos {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  align-self: center;
  img {
    max-width: 90%;
  }
  p {
    align-items: center;
    align-self: center;
  }
}
#estilo_articulos:hover {
  @include transform;
}
#estilo_articulos2:hover {
  @include transform;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  margin: 5px;
  height: 2rem;
  display: flex;
  flex-direction: row;
  a {
    align-self: center;
    margin: 1rem;
    color: aliceblue;
    font-size: large;
    text-decoration: none;
  }
}
.redesSociales {
  display: flex;
  color: black;
  justify-content: flex-end;
  margin-right: 5px;
  padding: 0;
  p {
    font-weight: bolder;
  }
  .iconosRedes {
    justify-self: center;
    align-self: center;
    img {
      margin-left: 1rem;
    }
  }
}
.seccion {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  img {
    max-width: 100%;
    animation-name: imgDamas;
    animation-duration: 2s;
  }
  h1 {
    background-color: $colorUno;
    color: white;
    text-align: center;
    animation-name: txtDamas;
    animation-duration: 2s;
  }
}

@keyframes imgDamas {
  0% {
    transform: translateX(250px);
  }
}
@keyframes txtDamas {
  0% {
    transform: translateX(-250px);
  }
}
.seccionNiños {
  display: flex;
}
@import "media";
