@import "variables";
@import "head";
@import "footer";
@import "tarjeta";
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
@mixin transform {
  transform: scale(105%);
}
.descripcion__sitio {
  text-align: center;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.titulo__seccion {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  color: white;
  background-color: $colorUno;
  margin: auto;
  border: 0.3rem solid black;
  padding: 0.4rem;
  width: 30rem;
  height: 2rem;
  font-size: 200%;
}
.logo {
  text-align: center;
}
.buscado {
  display: flex;
  justify-content: center;
}
.buscador {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
  border-style: solid;
  border-color: rgba(75, 69, 69, 0.281);
}
.div_ingreso {
  display: flex;
  justify-content: end;
}
.ingreso {
  color: white;
  background-color: rgb(10, 9, 9);
  border-radius: 0.5rem;
  border-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.articulos {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 1rem;
  margin: 1rem;
  background-image: linear-gradient(
    to left,
    rgb(248, 200, 224),
    rgb(248, 228, 190)
  );
  img {
    border: solid;
  }
}
#grad2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 4rem;
  background-image: linear-gradient(
    to right,
    rgb(202, 235, 198),
    rgb(216, 227, 247)
  );
}
section p span {
  border: 0.1rem solid black;
  background-color: rgb(205, 213, 219);
  padding: 0.3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.barraLateral {
  display: grid;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
  background-color: rgb(202, 199, 199);
  border: 0.3rem solid black;
  border-radius: 1rem;
  margin: 0rem 3rem 7rem auto;
  padding: 0.2rem;
  li {
    justify-content: center;
    font-size: 120%;
    padding: 1rem;
  }
}
/*contacto*/
.nav_contacto {
  display: flex;
  justify-content: center;
  margin: 1rem;
  a {
    text-decoration: none;
    font-size: x-large;
    color: $colorUno;
    font-weight: bold;
  }
}
form {
  justify-content: center;
  text-align: center;
  display: flex;
}
.formulario {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 29, 29);
  justify-content: center;
  width: 30rem;
  label {
    color: white;
  }
  div {
    color: rgb(236, 206, 165);
  }
}
legend {
  color: white;
  border: 0.2rem solid rgb(57, 150, 153);
  background-color: rgb(8, 8, 8);
  align-self: center;
  border-radius: 1rem;
  text-align: center;
}
#estilo_articulos {
  padding: 1rem;
}
#estilo_articulos:hover {
  @include transform;
}
#estilo_articulos2:hover {
  @include transform;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin: 1rem;
  height: 3rem;
  .redesSociales {
    display: flex;
    color: aliceblue;
    p {
      margin-top: 1.5rem;
    }
    .iconosRedes {
      justify-self: flex-end;
      align-self: flex-end;
      img {
        margin-left: 1rem;
      }
    }
  }
  .seccionNav {
    display: flex;
    flex-direction: row;
    a {
      margin: 1rem;
      color: aliceblue;
      font-size: large;
      text-decoration: none;
    }
  }
}
@import "media";
